.canvas {
  width: 960px;
  height: 540px;
  background-color: rgb(221, 221, 221);
  border: 2px solid rgb(131, 131, 131);
  margin: 0 auto;
  .footerControl {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    color: white;
    background-color: rgb(144, 144, 144);
    input {
      height: 25px;
    }
    button {
      height: 30px;
    }
  }
}
